In [11]:
# Q1. Write a python program to display all the header tags from wikipedia.org and make data frame.

from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

wiki = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(wiki.content)

headers = []
for i in soup.find_all('span',class_="mw-headline"):
    headers.append(i.text)

df = pd.DataFrame({'Headers':headers})
df

                         Headers
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

In [17]:
# 2. Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) and make data frame.

page = requests.get('https://www.imdb.com/list/ls055386972/?sort=user_rating,desc&st_dt=&mode=detail&page=1')

soup = BeautifulSoup(page.content)
name = []
for i in soup.find_all('h3',class_="lister-item-header"):
    name.append(i.text)

movie_names = []
for movie in name:
    split_movie = movie.split("\n")
    movie_name = split_movie[2]
    movie_names.append(movie_name)

rating = []
for i in soup.find_all('span',class_="ipl-rating-star__rating"):
    rating.append(i.text)

ratings = []
for i in range(0, len(rating), 23):
    ratings.append(rating[i])

year = []
for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text)

year

df = pd.DataFrame({'Movie Names':movie_names,'Rating':ratings,'Year of Release':year})
df

                             Movie Names Rating Year of Release
0               The Shawshank Redemption    9.3          (1994)
1                          The Godfather    9.2          (1972)
2                        The Dark Knight      9          (2008)
3                       Schindler's List      9          (1993)
4                           12 Angry Men      9          (1957)
5        Il buono, il brutto, il cattivo    8.8          (1966)
6                         The Green Mile    8.6          (1999)
7             Terminator 2: Judgment Day    8.6          (1991)
8                    Saving Private Ryan    8.6          (1998)
9                        La vita è bella    8.6          (1997)
10                  Shichinin no samurai    8.6          (1954)
11                 It's a Wonderful Life    8.6          (1946)
12                                 Alien    8.5          (1979)
13                             Gladiator    8.5          (2000)
14                    Back to the Future    8.5          (1985)
15                                  Léon    8.5          (1994)
16                           The Pianist    8.5          (2002)
17                      The Intouchables    8.5          (2011)
18                           The Shining    8.4          (1980)
19                            Braveheart    8.4          (1995)
20                   Requiem for a Dream    8.3          (2000)
21               Jodaeiye Nader az Simin    8.3          (2011)
22                         Jurassic Park    8.2          (1993)
23                     Kill Bill: Vol. 1    8.2          (2003)
24                       The Sixth Sense    8.2          (1999)
25                          Finding Nemo    8.2          (2003)
26                      A Beautiful Mind    8.2          (2001)
27                El secreto de sus ojos    8.2          (2009)
28                     Bacheha-Ye aseman    8.2          (1997)
29                          The Exorcist    8.1          (1973)
30                           Gran Torino    8.1          (2008)
31                        Salinui chueok    8.1          (2003)
32                               Ben-Hur    8.1          (1959)
33                   Hachi: A Dog's Tale    8.1          (2009)
34          The Bridge on the River Kwai    8.1          (1957)
35                         Amores perros    8.1          (2000)
36               Nae meorisokui jiwoogae    8.1          (2004)
37              The Pursuit of Happyness      8          (2006)
38                  Yeopgijeogin geunyeo      8          (2001)
39                             Okuribito      8          (2008)
40  Bom yeoreum gaeul gyeoul geurigo bom      8          (2003)
41                     Central do Brasil      8          (1998)
42                               Titanic    7.9          (1997)
43                               Bin-jip    7.9          (2004)
44                        Vozvrashchenie    7.9          (2003)
45                            Apocalypto    7.8          (2006)
46                             Cast Away    7.8          (2000)
47                                 Taken    7.8      (I) (2008)
48                  Ang-ma-reul bo-at-da    7.8          (2010)
49                   Wo de fu qin mu qin    7.8          (1999)

In [18]:
# 3. Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

imd = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')

soup = BeautifulSoup(imd.content)
movie_name = []
for i in soup.find_all('td',class_="titleColumn"):
    movie_name.append(i.text)
mon = movie_name[:50]

movie_names = []
for movie in mon:
    split_movie = movie.split("\n")
    movie_name = split_movie[2]
    movie_names.append(movie_name)


soup = BeautifulSoup(imd.content)
rate1 = []
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    rate1.append(i.text)
rat = rate1[:50]

rates = []
for rating in rat:
    split_rate2 = rating.split("\n")
    rate2 = split_rate2[1]
    rates.append(rate2)


year = []
for i in soup.find_all('span',class_="secondaryInfo"):
    year.append(i.text)
rely = year[:50]

df2 = pd.DataFrame({'Indian Movie Names':movie_names,'Rating':rates,'Year of Release':rely})
df2

                           Indian Movie Names Rating Year of Release
0         Ramayana: The Legend of Prince Rama    8.6          (1993)
1                  Rocketry: The Nambi Effect    8.4          (2022)
2                                     Nayakan    8.4          (1987)
3                                    Gol Maal    8.4          (1979)
4                                 777 Charlie    8.4          (2022)
5                           Pariyerum Perumal    8.4          (2018)
6                                  Anbe Sivam    8.4          (2003)
7                                 Apur Sansar    8.4          (1959)
8                                    3 Idiots    8.4          (2009)
9                            Manichitrathazhu    8.3          (1993)
10                                   Jai Bhim    8.3          (2021)
11                                      #Home    8.3          (2021)
12                            Soorarai Pottru    8.3          (2020)
13                               Black Friday    8.3          (2004)
14                          Kumbalangi Nights    8.3          (2019)
15                          C/o Kancharapalem    8.3          (2018)
16                           Taare Zameen Par    8.3          (2007)
17                                   Kireedam    8.3          (1989)
18                                     Dangal    8.3          (2016)
19                                     Kaithi    8.3          (2019)
20                                     Jersey    8.3          (2019)
21                                         96    8.3          (2018)
22                                Maya Bazaar    8.2          (1957)
23                                  Natsamrat    8.2          (2016)
24                                     Asuran    8.2          (2019)
25                                 Drishyam 2    8.2          (2021)
26                                 Sita Ramam    8.2          (2022)
27                               Thevar Magan    8.2          (1992)
28                                 Visaaranai    8.2          (2015)
29                        Sarpatta Parambarai    8.2          (2021)
30                                 Thalapathi    8.2          (1991)
31                               Nadodikkattu    8.2          (1987)
32                            Pather Panchali    8.2          (1955)
33                                   Drishyam    8.2          (2013)
34                               Thani Oruvan    8.2          (2015)
35                         Jaane Bhi Do Yaaro    8.2          (1983)
36                               Vada Chennai    8.2          (2018)
37                                  Aparajito    8.2          (1956)
38                          Khosla Ka Ghosla!    8.2          (2006)
39                               Sardar Udham    8.2          (2021)
40                                    Anniyan    8.2          (2005)
41                                   Ratsasan    8.1          (2018)
42                              Chupke Chupke    8.1          (1975)
43                         Gangs of Wasseypur    8.1          (2012)
44                                   Drishyam    8.1          (2015)
45                                   Mahanati    8.1          (2018)
46                                    Peranbu    8.1          (2018)
47                             Bangalore Days    8.1          (2014)
48                                     Premam    8.1          (2015)
49                                      Satya    8.1          (1998)

In [19]:
# 4. Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

p_page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
p_page

soup = BeautifulSoup(p_page.content)
prez = []
for i in soup.find_all('div',class_="presidentListing"):
    prez.append(i.text)
prez

president_name = []
for president in prez:
    split_prez = president.split("\n")
    pres_name = split_prez[1]
    president_name.append(pres_name)


names1 = []
for item in president_name:
    start_index = item.find(" ") + 1
    end_index = item.find("(") - 1
    name1 = item[:end_index]
    names1.append(name1)


term = []
for president in prez:
    split_prez = president.split("\n")
    pres_name = split_prez[2]
    term.append(pres_name)

term

terms = [s.replace('Term of Office: ', '') for s in term]


df = pd.DataFrame({'President Name':names1,'Term of Office':terms})
df

,President Name,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

In [143]:
# 5. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

icc_page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
icc_page

soup = BeautifulSoup(icc_page.content)
team = []
for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)

team
teams = team[:10]
teams

soup = BeautifulSoup(icc_page.content)
m1 = []
for i in soup.find_all('td',class_="rankings-block__banner--matches"):
    m1.append(i.text)

m1

soup = BeautifulSoup(icc_page.content)
p1 = []
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    p1.append(i.text)

p1

soup = BeautifulSoup(icc_page.content)
r1 = []
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    r1.append(i.text)

r1

r_1 = []
for rating in r1:
    split_r = rating.split("\n")
    rate = split_r[1]
    r_1.append(rate)

r_1 = [elem.strip() for elem in r_1]
r_1

soup = BeautifulSoup(icc_page.content)
m2 = []
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    m2.append(i.text)

m2
m3 = m2[:18]
m3

m4 = [m3[i] for i in range(len(m3)) if i % 2 == 0]
m4

m5 = m1 + m4
m5

p2 = [m3[i] for i in range(len(m3)) if i % 2 == 1]
p2

p3 = p1 + p2
p3

soup = BeautifulSoup(icc_page.content)
r_2 = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    r_2.append(i.text)

r_2
r_3 = r_2[:9]
r_3

r_4 = r_1 + r_3
r_4

df = pd.DataFrame({'TEAM':teams,'MATCHES':m5,'POINTS':p3,'RATING':r_4})
df

           TEAM MATCHES POINTS RATING
0     Australia      35  3,965    113
1   New Zealand      31  3,504    113
2         India      47  5,294    113
3       England      36  3,988    111
4      Pakistan      25  2,649    106
5  South Africa      31  3,141    101
6    Bangladesh      38  3,625     95
7     Sri Lanka      36  3,099     86
8   West Indies      43  3,105     72
9   Afghanistan      20  1,419     71

In [147]:
# Q5. b)Top 10 ODI Batsmen along with the records of their team and rating.

icc_batsman = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
icc_batsman

soup = BeautifulSoup(icc_batsman.content)
p_name = []
for i in soup.find_all('div',class_="rankings-block__banner--name"):
    p_name.append(i.text)

p_name
p_name11 = p_name[:1]
p_name11

soup = BeautifulSoup(icc_batsman.content)
p_country = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    p_country.append(i.text)

p_country
p_countrys = p_country[:1]
nation = p_countrys[0].strip().split()[0]
nation

p_rating = p_countrys[0].strip().split()[1]
p_rating

soup = BeautifulSoup(icc_batsman.content)
p_name1 = []
for i in soup.find_all('td',class_="table-body__cell name"):
    p_name1.append(i.text)

p_name1
p_name2 = p_name1[:9]
p_name2

p_name3 = []
for players in p_name2:
    split_p_name2 = players.split("\n")
    players_name = split_p_name2[1]
    p_name3.append(players_name)

players = p_name11 + p_name3
players

soup = BeautifulSoup(icc_batsman.content)
country = []
for i in soup.find_all('span',class_="table-body__logo-text"):
    country.append(i.text)

country
p_country = country[:9]
p_country

p_country.insert(0, 'PAK')

soup = BeautifulSoup(icc_batsman.content)
rating21 = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating21.append(i.text)

rating21
rating22 = rating21[:9]
rating22

rating22.insert(0, '887')

df = pd.DataFrame({'PLAYER':players,'TEAM':p_country,'RATING':rating22})
df

                  PLAYER TEAM RATING
0             Babar Azam  PAK    887
1  Rassie van der Dussen   SA    777
2            Imam-ul-Haq  PAK    740
3           Shubman Gill  IND    738
4           David Warner  AUS    726
5            Virat Kohli  IND    719
6        Quinton de Kock   SA    718
7           Rohit Sharma  IND    707
8            Steve Smith  AUS    702
9           Fakhar Zaman  PAK    699

In [148]:
#Q5. c) Top 10 ODI bowlers along with the records of their team and rating.

soup = BeautifulSoup(icc_batsman.content)
p_name = []
for i in soup.find_all('div',class_="rankings-block__banner--name"):
    p_name.append(i.text)

p_name
p_name22 = p_name[1:2]
p_name22

soup = BeautifulSoup(icc_batsman.content)
p_country1 = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    p_country1.append(i.text)

p_country1
p_country2 = p_country1[1:2]
p_country2
p_country3 = p_country2[0].strip().split()[0]
p_country3

p_rating2 = p_country2[0].strip().split()[1]
p_rating2

soup = BeautifulSoup(icc_batsman.content)
p_name23 = []
for i in soup.find_all('td',class_="table-body__cell name"):
    p_name23.append(i.text)

p_name23
p_name24 = p_name23[9:18]
p_name24

p_name25 = []
for players in p_name24:
    split_p_name24 = players.split("\n")
    players_name = split_p_name24[1]
    p_name25.append(players_name)

p_name26 = p_name22 + p_name25
p_name26

country
p_country24 = country[9:18]
p_country24

p_country24.insert(0, 'AUS')

rating21
rating24 = rating21[9:18]
rating24

rating24.insert(0, '705')

df = pd.DataFrame({'PLAYER':p_name26,'TEAM':p_country24,'RATING':rating24})
df

             PLAYER TEAM RATING
0    Josh Hazlewood  AUS    705
1       Trent Boult   NZ    694
2    Mohammed Siraj  IND    691
3    Mitchell Starc  AUS    686
4        Matt Henry   NZ    676
5       Rashid Khan  AFG    659
6        Adam Zampa  AUS    652
7    Shaheen Afridi  PAK    641
8  Mujeeb Ur Rahman  AFG    637
9   Shakib Al Hasan  BAN    636

In [149]:
# 6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

women_page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
women_page

soup = BeautifulSoup(women_page.content)
w_team = []
for i in soup.find_all('span',class_="u-hide-phablet"):
    w_team.append(i.text)

w_team
w_team1 = w_team[:10]
w_team1

soup = BeautifulSoup(women_page.content)
w_m1 = []
for i in soup.find_all('td',class_="rankings-block__banner--matches"):
    w_m1.append(i.text)

w_m1

soup = BeautifulSoup(women_page.content)
w_p1 = []
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    w_p1.append(i.text)

w_p1

soup = BeautifulSoup(women_page.content)
w_m2 = []
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    w_m2.append(i.text)

w_m2
w_m3 = w_m2[:18]
w_m3

w_m4 = [w_m3[i] for i in range(len(w_m3)) if i % 2 == 0]
w_m4

w_m5 = w_m1 + w_m4
w_m5

w_p2 = [w_m3[i] for i in range(len(w_m3)) if i % 2 == 1]
w_p2

w_p3 = w_p1 + w_p2
w_p3

soup = BeautifulSoup(women_page.content)
w_r1 = []
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    w_r1.append(i.text)

w_r1

w_r2 = []
for ratings in w_r1:
    split_w_r1 = ratings.split("\n")
    rate = split_w_r1[1]
    w_r2.append(rate)

w_r2 = [elem.strip() for elem in w_r2]
w_r2

soup = BeautifulSoup(women_page.content)
w_r3 = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    w_r3.append(i.text)

w_r3
w_r4 = w_r3[:9]
w_r4

w_r5 = w_r2 + w_r4
w_r5

df = pd.DataFrame({'TEAM':w_team1,'MATCHES':w_m5,'POINTS':w_p3,'RATING':w_r5})
df

           TEAM MATCHES POINTS RATING
0     Australia      21  3,603    172
1       England      28  3,342    119
2  South Africa      26  3,098    119
3         India      27  2,820    104
4   New Zealand      25  2,553    102
5   West Indies      27  2,535     94
6    Bangladesh      13    983     76
7      Thailand      11    821     75
8      Pakistan      27  1,678     62
9     Sri Lanka       8    353     44

In [151]:
# 6. b) Top 10 women’s ODI Batting players along with the records of their team and rating.

batswomen_page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
batswomen_page

soup = BeautifulSoup(batswomen_page.content)
wp_name = []
for i in soup.find_all('div',class_="rankings-block__banner--name"):
    wp_name.append(i.text)

wp_name
wp_name11 = wp_name[:1]
wp_name11

soup = BeautifulSoup(batswomen_page.content)
wp_name1 = []
for i in soup.find_all('td',class_="table-body__cell name"):
    wp_name1.append(i.text)

wp_name1
wp_name2 = wp_name1[:9]
wp_name2

wp_name3 = []
for players in wp_name2:
    split_wp_name2 = players.split("\n")
    players_name = split_wp_name2[1]
    wp_name3.append(players_name)

wp_name4 = wp_name11 + wp_name3
wp_name4

wp_country = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    wp_country.append(i.text)

wp_country
wp_countrys = wp_country[:1]
w_nation = wp_countrys[0].strip().split()[0]
w_nation

wp_rating = wp_countrys[0].strip().split()[1]
wp_rating

w_country = []
for i in soup.find_all('span',class_="table-body__logo-text"):
    w_country.append(i.text)

w_country
wp_country = w_country[:9]
wp_country

wp_country.insert(0, 'AUS')

w_rating21 = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    w_rating21.append(i.text)

w_rating21
w_rating22 = w_rating21[:9]
w_rating22

w_rating22.insert(0, '762')

df = pd.DataFrame({'PLAYER':wp_name4,'TEAM':wp_country,'RATING':w_rating22})
df

                PLAYER TEAM RATING
0         Alyssa Healy  AUS    762
1          Beth Mooney  AUS    754
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4          Meg Lanning  AUS    717
5     Harmanpreet Kaur  IND    716
6      Smriti Mandhana  IND    714
7  Chamari Athapaththu   SL    655
8    Amy Satterthwaite   NZ    641
9         Ellyse Perry  AUS    626

In [153]:
# 6. c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

soup = BeautifulSoup(batswomen_page.content)
wp_name = []
for i in soup.find_all('div',class_="rankings-block__banner--name"):
    wp_name.append(i.text)

wp_name
wp_name11 = wp_name[2:]
wp_name11

wp_country1 = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    wp_country1.append(i.text)

wp_country1
wp_country2 = wp_country1[2:]
wp_country2
wp_country3 = wp_country2[0].strip().split()[0]
wp_country3

wp_rating2 = wp_country2[0].strip().split()[1]
wp_rating2

wp_name23 = []
for i in soup.find_all('td',class_="table-body__cell name"):
    wp_name23.append(i.text)

wp_name23
wp_name24 = wp_name23[18:27]
wp_name24

wp_name25 = []
for players in wp_name24:
    split_wp_name24 = players.split("\n")
    players_name = split_wp_name24[1]
    wp_name25.append(players_name)

wp_name26 = wp_name11 + wp_name25
wp_name26

w_country
wp_country24 = w_country[18:27]
wp_country24

wp_country24.insert(0, 'AUS')

w_rating21
w_rating24 = w_rating21[18:27]
w_rating24

w_rating24.insert(0, '373')

df = pd.DataFrame({'PLAYER':wp_name26,'TEAM':wp_country24,'RATING':w_rating24})
df

              PLAYER TEAM RATING
0    Hayley Matthews  AUS    373
1     Natalie Sciver  ENG    371
2       Ellyse Perry  AUS    366
3     Marizanne Kapp   SA    349
4        Amelia Kerr   NZ    336
5      Deepti Sharma  IND    322
6   Ashleigh Gardner  AUS    292
7      Jess Jonassen  AUS    250
8           Nida Dar  PAK    232
9  Sophie Ecclestone  ENG    205

In [155]:
# 7. Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame
# i) Headline
# ii) Time
# iii) News Link

cnbc_page = requests.get('https://www.cnbc.com/world/?region=world')
cnbc_page

soup = BeautifulSoup(cnbc_page.content)
headline = []
for i in soup.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)

headline

soup = BeautifulSoup(cnbc_page.content)
time = []
for i in soup.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)

time

soup = BeautifulSoup(cnbc_page.content)
news_link = []
for i in soup.find_all('a',class_="LatestNews-headline"):
    news_link.append(i.get('href'))

news_link

df = pd.DataFrame({'HEADLINE':headline,'TIME':time,'NEWS LINK':news_link})
df

,HEADLINE,TIME,NEWS LINK
0,"These ordinary side hustles can make up to $2,...",13 Min Ago,https://www.cnbc.com/2023/04/28/inside-these-l...
1,"Benchmark upgrades Intel, says investors shoul...",13 Min Ago,https://www.cnbc.com/2023/04/28/benchmark-upgr...
2,First Republic poised to rise for second day a...,20 Min Ago,https://www.cnbc.com/2023/04/28/first-republic...
3,Stocks making the biggest moves premarket: Sna...,22 Min Ago,https://www.cnbc.com/2023/04/28/stocks-making-...
4,Where the trucking and rail recession is showi...,38 Min Ago,https://www.cnbc.com/2023/04/28/where-the-truc...
5,"How much savings you need for $60K, $70K and $...",43 Min Ago,https://www.cnbc.com/2023/04/28/how-to-earn-60...
6,Why cities continue to have a love-hate affair...,43 Min Ago,https://www.cnbc.com/2023/04/28/why-cities-con...
7,"Phoenix Suns, Mercury exit cable sports networ...",43 Min Ago,https://www.cnbc.com/2023/04/28/phoenix-suns-m...
8,5 things to know before the stock market opens...,49 Min Ago,https://www.cnbc.com/2023/04/28/5-things-to-kn...
9,"Pinterest's Amazon partnership shows promise, ...",57 Min Ago,https://www.cnbc.com/2023/04/28/pinterests-gui...
10,73% of millennials are living paycheck to payc...,1 Hour Ago,https://www.cnbc.com/2023/04/28/73percent-of-m...
11,Bed Bath & Beyond closures will kick off a lan...,2 Hours Ago,https://www.cnbc.com/2023/04/28/bed-bath-beyon...
12,These are the top Senate races to watch in 2024,2 Hours Ago,https://www.cnbc.com/2023/04/28/top-senate-rac...
13,"Analysts say Amazon is still a buy, but invest...",2 Hours Ago,https://www.cnbc.com/2023/04/28/wall-street-an...
14,Euro zone economy ekes out 0.1% growth in firs...,4 Hours Ago,https://www.cnbc.com/2023/04/28/euro-zone-gdp-...
15,Ukraine should use China as leverage to help w...,4 Hours Ago,https://www.cnbc.com/2023/04/28/ukraine-should...
16,Treasury yields fall as investors mull over ke...,4 Hours Ago,https://www.cnbc.com/2023/04/28/us-treasury-yi...
17,China's top leaders say the economy doesn't ha...,5 Hours Ago,https://www.cnbc.com/2023/04/28/chinas-top-lea...
18,Russian airstrikes in Ukrainian cities kill at...,6 Hours Ago,https://www.cnbc.com/2023/04/28/ukraine-war-li...
19,Sony posts record annual profit boosted by chi...,6 Hours Ago,https://www.cnbc.com/2023/04/28/sony-earnings-...
20,China's A.I. chatbots haven't yet reached the ...,6 Hours Ago,https://www.cnbc.com/2023/04/28/how-chinas-cha...
21,European stocks off lows as investors digest G...,6 Hours Ago,https://www.cnbc.com/2023/04/28/european-marke...
22,IMF warns of 'disorderly' house price correcti...,7 Hours Ago,https://www.cnbc.com/2023/04/28/imf-warns-of-d...
23,CNBC Daily Open: Markets had their best day in...,7 Hours Ago,https://www.cnbc.com/2023/04/28/stock-markets-...
24,Microsoft's big bet on cloud gaming is what tr...,8 Hours Ago,https://www.cnbc.com/2023/04/28/microsofts-big...
25,Wall Street predicted a big surge for oil this...,8 Hours Ago,https://www.cnbc.com/2023/04/28/wall-street-pr...
26,Obesity drug industry could be worth $200 bill...,8 Hours Ago,https://www.cnbc.com/2023/04/28/obesity-drugs-...
27,Swiss central bank promises regulation review ...,8 Hours Ago,https://www.cnbc.com/2023/04/28/swiss-national...
28,Bank of Japan sticks to negative rates while a...,9 Hours Ago,https://www.cnbc.com/2023/04/28/bank-of-japan-...
29,China's SMIC will 'struggle' to make cutting-e...,11 Hours Ago,https://www.cnbc.com/2023/04/28/chinas-smic-ma...

In [158]:
#8. Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame
# i) Paper Title
# ii) Authors
# iii) Published Date
# iv) Paper URL

ai_page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
ai_page

soup = BeautifulSoup(ai_page.content)
title = []
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    title.append(i.text)

title

authors = []
for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)

authors

date = []
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    date.append(i.text)

date

url = []
for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    url.append(i.get('href'))

url

df = pd.DataFrame({'PAPER TITLE':title,'AUTHORS':authors,'PUBLISHED DATE':date,'PAPER URL':url})
df

,PAPER TITLE,AUTHORS,PUBLISHED DATE,PAPER URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [162]:
# 9. Write a python program to scrape mentioned details from dineout.co.in and make data frame.
# i) Restaurant name
# ii) Cuisine
# iii) Location
# iv) Ratings
# v) Image URL

dine_page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
dine_page

soup = BeautifulSoup(dine_page.content)
r_name = []
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    r_name.append(i.text)

r_name

cuisine = []
for i in soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text)

cuisine

cuisine1 = [s.split("|")[1].strip() for s in cuisine]
cuisine1

location = []
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)

location

rating01 = []
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rating01.append(i.text)

rating01

image = []
for i in soup.find_all('img',class_="no-img"):
    image.append(i.get('data-src'))

image

df = pd.DataFrame({'Restaurant name':r_name,'Cuisine':cuisine1,'Location':location,'Rating':rating01,'Image URL':image})
df

,Restaurant name,Cuisine,Location,Rating,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...